@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: 'Sora', sans-serif;
  --font-code: 'Source Code Pro', monospace;
  --font-grotesk: 'Space Grotesk', sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-n-8 font-sans text-base text-n-1;
  }

  .container {
    @apply mx-auto max-w-[77.5rem] px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem];
  }

  .h1 {
    @apply text-[2.5rem] font-semibold leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
  }

  .h2 {
    @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[2.5rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight;
  }

  .h3 {
    @apply text-[2rem] leading-normal md:text-[2.5rem];
  }

  .h4 {
    @apply text-[2rem] leading-normal;
  }

  .h5 {
    @apply text-2xl leading-normal;
  }

  .h6 {
    @apply text-lg font-semibold leading-8;
  }

  .body-1 {
    @apply text-[0.875rem] leading-[1.5rem] md:text-[1rem] md:leading-[1.75rem] lg:text-[1.25rem] lg:leading-8;
  }

  .body-2 {
    @apply text-[0.875rem] font-light leading-6 md:text-base;
  }

  .caption {
    @apply text-sm;
  }

  .tagline {
    @apply font-grotesk text-xs font-light uppercase tracking-tagline;
  }

  .quote {
    @apply font-code text-lg leading-normal;
  }

  .button {
    @apply font-code text-xs font-bold uppercase tracking-wider;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}
